
@import '~antd/dist/antd.css';

body{
    background-color: rgb(15, 143, 100);
    margin: 0;
    height:100%;
}

.board-container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.arena{
    height:100%;
    width: 100%;
    background-color: rgb(15, 143, 100);;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player1{
    position: absolute;
    top: 0;
    left: 50%;
}

.player2{
    position: absolute;
    right: 0;
    top: 50%;
}

.player3{
    position: absolute;
    bottom: 0;
    left: 50%;
}

.player4{
    position: absolute;
    left: 0;
    top: 50%;
}

.deck-card{
    height: 100px;
    width: 60px;

}